@include tablet {
    .iconos-nosotros {
        @include grid(3, 2rem);
    }
}

.icon {
    text-align: center;
  
    img {
        height: 10rem;
    }
    h3 {
        text-transform: uppercase;
    }
}

.icon-light {
    text-align: center;
  
    img {
        height: 10rem;
    }
    h3 {
        text-transform: uppercase;
    }
    color: black!important;   
}

.icon-dark {
    text-align: center;
  
    img {
        height: 10rem;
    }
    h3 {
        text-transform: uppercase;
    }
    color: rgb(153, 39, 39)!important;   
}
