@include tablet {
    .iconos-nosotros {
        @include grid(3, 2rem);
    }
}

.icono {
    text-align: center;
    img {
        height: 10rem;
    }
    h3 {
        text-transform: uppercase;
    }
}

.priceIcon {
    max-width: 12rem;
    text-align: center;
    margin: 0 auto;
}